@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.vboxOrderOnSchedule
{
    -fx-font-family: 'Montserrat';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 5;   
}
.vboxOrderOnSchedule:hover
{   
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 25, 0, 0, 0);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}
.vboxOrderOnSchedule:pressed
{   
    -fx-background-color: #f9f9f9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 12, 0, 0, 0);
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.vboxOrderDelayed
{
    -fx-font-family: 'Montserrat';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 5;   
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: #ffde00;
}
.vboxOrderDelayed:hover
{   
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 25, 0, 0, 0);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}
.vboxOrderDelayed:pressed
{   
    -fx-background-color: #f9f9f9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 12, 0, 0, 0);
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.vboxOrderOverdue
{
    -fx-font-family: 'Montserrat';
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 5, 0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 5;      
    -fx-border-radius: 5;
    -fx-border-color: #b6b6b6;
    -fx-border-width: 2;
}
.vboxOrderOverdue:hover
{   
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 25, 0, 0, 0);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}
.vboxOrderOverdue:pressed
{   
    -fx-background-color: #f9f9f9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.08), 12, 0, 0, 0);
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.scrollPaneOrders
{
    -fx-font-size: 15px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scrollPaneOrders .scroll-bar:vertical
{
    -fx-background-color: transparent;
}
.scrollPaneOrders .scroll-bar:vertical:hover
{
    -fx-background-color: transparent;
}
.scrollPaneOrders .scroll-bar .thumb
{
    -fx-background-color: #b8b8b8;
}
.scrollPaneOrders .scroll-bar .thumb:hover
{
    -fx-background-color: #868686;
}
.scrollPaneOrders .scroll-bar .thumb:pressed
{
    -fx-background-color: #616161;
}
.scrollPaneOrders .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button 
{
    -fx-background-color: transparent;
}
.scrollPaneOrders .scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow
{
    -fx-background-color: #b8b8b8;
}
.scrollPaneOrders .scroll-bar:vertical .increment-arrow:hover,  .scroll-bar:vertical .decrement-arrow:hover
{
    -fx-background-color: #868686;
}
.scrollPaneOrders .scroll-bar:vertical .increment-arrow:pressed, .scroll-bar:vertical .decrement-arrow:pressed 
{
    -fx-background-color: #616161;
}

.comboBoxSort
{
    -fx-font-family: 'Montserrat';
    -fx-background-color: white;
    -fx-background-radius: 0;
}
.comboBoxSort-popup .list-view 
{
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 0;
}
.comboBoxSort .list-cell
{
    -fx-font-size: 16;
    -fx-background-radius: 0;
}
.comboBoxSort .list-view .list-cell
{
    -fx-background-color: white;
    -fx-font-size: 16;
    -fx-pref-height: 50;
    -fx-text-fill: black;
    -fx-background-radius: 0;
}
.comboBoxSort .list-view .list-cell:hover
{
    -fx-background-color: #f4f4f4;
    -fx-font-size: 18;
    -fx-border-color: #f4f4f4;
}

.textFieldSearch
{
    -fx-font-family: 'Montserrat';
    -fx-background-color:white;
    -fx-padding: 5 5 5 35;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #bfbfbf;
    -fx-background-image: url("../images/SearchIconDefault.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}
.textFieldSearch:hover
{
    -fx-prompt-text-fill: black;
    -fx-background-image: url("../images/SearchIconFocused.png");
}
.textFieldSearch:focused
{
    -fx-background-color: #f4f4f4;
    -fx-prompt-text-fill: black;
    -fx-background-image: url("../images/SearchIconFocused.png");
}

.toggleButtonFilter
{	
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14;
    -fx-background-color: transparent;
    -fx-text-fill: #a29faa;
}
.toggleButtonFilter:hover
{
    -fx-background-color: #191919;
    -fx-text-fill: white;
}
.toggleButtonFilter:selected
{
    -fx-background-color: #191919;
    -fx-text-fill: #184981;
}

.labelRegular
{
    -fx-font-family: 'Montserrat';
    -fx-font-size: 16;   
}
.labelBold
{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: bold;
    -fx-font-size: 16;
}
.labelTileRegular
{
    -fx-font-family: 'Montserrat';
    -fx-font-size: 12;   
}
.labelTileSemiBold
{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: bold;
    -fx-font-size: 14;   
}
.labelTileBold
{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.barPaneLight
{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.barPaneDark
{
    -fx-background-color: #282828;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.progressBarOrderEstimated .bar
{   
    -fx-background-color: #184981;
}
.progressBarOrderEstimated > .track 
{
    -fx-background-color: #dddddd;
}

.loadingSpinner .arc 
{
    -fx-stroke: #184981;
}