/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2019, 1:50:33 PM
    Author     : Kiddo
*/
		
.buttonOrder
{   
    -fx-background-color:white;
    -fx-background-radius:10;   
    -fx-font-family: "Promixa Nova Rg";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 8, 0, 0, 0);
}
.buttonOrder:hover
{   
    -fx-border-radius:10;
    -fx-border-width:2;
    -fx-border-color:#184981;
}

.textFieldSearch
{
    -fx-background-color:white;
    -fx-font-family: "Promixa Nova Rg";
    -fx-padding:5 5 5 35;
    -fx-font-size:16;
    -fx-prompt-text-fill:#bfbfbf;
    -fx-background-image:url("../images/SearchIconDefault.png");
    -fx-background-repeat:no-repeat;
    -fx-background-position:left center;
    -fx-background-size:24 24;
}
.textFieldSearch:hover
{
    -fx-prompt-text-fill:black;
    -fx-background-image:url("../images/SearchIconFocused.png");
}
.textFieldSearch:focused
{
    -fx-background-color:#dddddd;
    -fx-prompt-text-fill:black;
    -fx-background-image:url("../images/SearchIconFocused.png");
}

.comboBoxSort.column-header,
.comboBoxSort.column-header-background .filler
{
    -fx-background-color:#dddddd; 
}
.comboBoxSort
{
    -fx-background-color:white;
    -fx-background-radius:0;

}
.comboBoxSort.scroll-bar
{
    -fx-background-color:#f4f4f4; 
}
.comboBoxSort.scroll-bar:vertical{
    -fx-background-color:#f4f4f4; 
}
.comboBoxSort.scroll-bar:horizontal
{
    -fx-background-color:transparent;
}
.comboBoxSort.scroll-bar .thumb
{
    -fx-background-color:derive(red, 50%);
}
.comboBoxSort-popup .list-view 
{
    -fx-background-color: #f4f4f4;
        -fx-background-radius:0;

}
.comboBoxSort .list-cell
{
    -fx-font-size:16;
    -fx-background-radius:0;
    -fx-font-family: "Promixa Nova Rg";
}
.comboBoxSort .list-view .list-cell
{
    -fx-background-color:white;
    -fx-font-size:16;
    -fx-pref-height: 50;
    -fx-text-fill: black;
    -fx-background-radius:0;
}
.comboBoxSort .list-view .list-cell:hover
{
    -fx-background-color: #f4f4f4;
    -fx-font-size:18;
    -fx-border-color:#f4f4f4;
}

.toggleButtonFilter
{	
    -fx-font-size:14;
    -fx-background-color:transparent;
    -fx-text-fill:#a29faa;
}
.toggleButtonFilter:hover
{
    -fx-background-color:#191919;
    -fx-text-fill:white;
}
.toggleButtonFilter:selected
{
    -fx-background-color:#191919;
    -fx-text-fill:#184981;
}

.barPaneLight
{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.barPaneDark
{
    -fx-background-color: #282828;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.loadingSpinner .arc 
{
    -fx-stroke: #184981;
}

.vboxOrder
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 5, 0, 0, 0);
    -fx-background-color:white;
    -fx-background-radius:10;   
    -fx-border-radius:10;
}
.vboxOrder:hover
{   
    -fx-background-color:white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 45, 0, 0, 0);
    -fx-scale-x:1.01;
    -fx-scale-y:1.01;
    -fx-border-radius:10;
    -fx-border-width:1;
}
.vboxOrder:pressed
{   
    -fx-background-color:#f9f9f9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 12, 0, 0, 0);
    -fx-scale-x:1.0;
    -fx-scale-y:1.0;
    -fx-border-radius:10;
    -fx-border-width:1;
}

.progressBarOrderEstimated .bar
{
    -fx-background-color:#868686 
}
.progressBarOrderEstimated > .track 
{
    -fx-background-color:#dddddd;
}

.progressBarOrderRealized .bar
{
    -fx-background-color:#184981; 
}
.progressBarOrderRealized > .track 
{
    -fx-background-color: transparent;
}
